.slider {
    width: 100%;
}

.image {
    margin-bottom: 20px;
}

.image img {
    height: 300px;
    width: 100%;
    object-fit: contain;
}

.data {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.dataOccupation {
    color: var(--grey);
}

.dataName {
    font-size: 20px;
    color: white;
}

.dataSocial {
    display: flex;
    gap: 10px;
}

.dataSocialApp {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 25px;
    color: var(--yellow);
}

.dataSocialApp:hover {
    color: white;
}
