:root {
    --black: #1d1d1d;
    --yellow: #ffde59;
    --darkGrey: #252525;
    --grey: #cecece;
}

.slick-dots li button::before {
    margin-top: 10px;
    color: white;
}

.slick-active button::before {
    color: white;
}
